.adminBackground{
  background: #0e98c3;
  position:absolute;
  width: 100%;
  color: white;
}

.section-edit{
  background: white;
  width:80%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px #393939;
}

.section-edit-home{
    margin-top:120px;
}

.section-edit-title{
  color: #c63737;
  padding: 20px;
  font-weight: 300;
}

.section-edit-label{
  color: black;
}

.input{
  margin: 10px;
  box-shadow: 0 0 10px #b9b9b9;
}

@media screen and (max-width: 580px) {
  .adapt-width{
    width: 100%;
  }
  .row{
    margin:0;
  }
  input{
    width: 90%;
  }
  .contain-btn{
    width: 100%;
    margin: 0 !important;
    padding: 5px;
  }
  .supp-btn{
    width: 100%;
  }
}

.add-btn{
  width:30px;
  height: 30px;
  background: #0e98c3;
  display:flex;
  color: white;
  font-size: 30px;
  margin: 0 30px 0 0;
  float: right;
  padding: 15px;
  font-weight: 400;
  justify-content:center;
  align-items:center;
  border: 0;
  border-radius: 50%;
  transition: .3s;
  border: 1px solid white;
}

.add-btn:hover{
  box-shadow: 0px 0px 5px #393939;
  background-color: #0b6e8e;
}

.contain-btn{
  float: right;
  margin-left: auto;
  margin-right: 70px;
}

.supp-btn, .enregistrer-btn{
  border-radius: 50px;
  border: 0;
  background-color: #c63737;
  color: white;
  padding: 7px;
  font-size: 12px;
  transition: .3s;
  margin-bottom: 10px;
}

.enregistrer-btn{
  background: #7ebf16;
  margin-right: 10px;
}

.supp-btn:hover{
  background-color:#9d2828;
  box-shadow: 0px 0px 5px #393939;
  text-shadow: 1px 1px 3px #393939;
}

.enregistrer-btn:hover{
    background: #66970b;
    text-shadow: 1px 1px 3px #393939;
    box-shadow: 0px 0px 5px #77b414;
}

.footer-admin{
  background: black;
  margin-top: 50px;
  padding: 50px;
}
